<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">
    <%= @section.name %>
    </h2>
    <h3><%= t ".content" %></h3>

    <p class="card-text">
      <%= @section.content %>
    </p>
  </div>
</div>
