<div class="col-md-3 col-sm-6 col-xs-6">
	<div class="course">
		<a href="#" class="course-img">
			<%= image_tag('course08.jpg')%>
			<i class="course-link-icon fa fa-link"></i>
		</a>
		<a class="course-title" ><%= course.name %></a>
		<div class="course-details">
			<%= link_to "read More →",course_path(course), class: "btn btn-primary" %>
		</div>
	</div>
</div>
